html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(65, 41, 41);
    width: fit-content;
    border-radius: 5px;
    padding: 40px;
}

#display  {
    display: flex;
    border: solid;
    border-color:slategrey;
    border-radius: 5px;
    background-color: rgb(180, 158, 130);
    border-style: double;
    align-items: center;
    width: 396px;
    height: 80px;

}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    gap: 2px
}

#clear {
    width: 198px;
}

#zero {
    width: 198px;
}

button {
    width: 96px;
    height: 80px;
    border: solid;
    border-color: brown;
    border-radius: 5px;
    background-color: burlywood;
    border-style: groove;
    transition: 0.1s all;
}

.number {
    color: white;
    background-color: steelblue;
}

.r {
    color: sienna;
    background-color: silver;
}

button:active {
    background-color: brown;
}

button:hover {
    transform: scale(1.04);
}

p {
    padding-left: 10px;
    font-size: xx-large;

}